*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

main{
    flex: 1;
}

.header-background{
    background: linear-gradient(105deg, white 50%, #F6B400 50%)
}

.menu-container{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.menu{
    display: flex;
    padding: 0 70px 0 70px;
    justify-content: space-between;
    width: 100%;
}

.right-menu-group{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
}

.links > li{
    display: flex;
    margin-left: 30px;
}

.cart{
    display: flex;
    margin-left: 100px;
}

.lower-header{
    display: flex;
    padding: 0 150px 0 90px;
}

.header-introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    width: 50%;
}

.header-image{
    width: 50%;
     justify-content: center;
     align-items: center;
}
.header-image > img{
    width: 100%;
}

.offer-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E1EBE6;
    padding: 150px 30px 80px 30px;
}

.offer-items > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid maroon;
    border-radius: 15px;
    padding: 30px;
    margin: 5px;
}

.offer-items > div > article{
    color: maroon;
    font-size: 20px;
}

.offer-items > div > p{
    text-align: center;
}

.burger-types{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.burger-types > article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgers{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-evenly;
}

.row{
    display: flex;
    justify-content: center;
}

.burger-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 25px;
    padding: 25px 30px;
    border-radius: 25px;
    box-shadow: 1px 8px 10px 1px lightgray;
}

.burger-item > article{
    margin-bottom: 15px;
    margin-top: 5px;
}

.burger-item > div{
    width: 100%;
}

.burger-item > p{
    text-align: center;
    margin-bottom: 10px;
}

.ksh-trolley{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ksh-trolley > div{
    padding: 10px;
}

.burger-item > div > img{
    width: 100%;
    height: auto;
}

.double-decker{
    display: flex;
    padding: 0 30px;
    background-color: #E1EBE6;
}

.decker-words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 60px;
}

.decker-words > article{
    font-size: 2em;
    margin-bottom: 10px;
}

.yellow-text{
    color: #F6B400;
}

.decker-words > p{
    color: gray;
    padding-left: 5px;
}

.decker-image{
    position: relative;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: hidden;
}

.img1{
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
}

.img2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.more{
    display: flex;
    font-weight: bold;
    font-size: 80px;
    margin-left: 20px;
    margin-top: 100px;
}

.more > a{
    padding: 5px;
    margin: 2px;
    color: grey;
    text-decoration: none;
}

#active{
    color: #F6B400;
}

.mobile{
    height: 500px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    background-color: #F6B400;
}

.mobile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 24px;
}

.mobile-info > div{
    margin-bottom: 50px;
}

.mobile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.mobile-img > img{
     margin: 0 20px;
}

