*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: black;
}

main{
    flex: 1;
}

.header-background{
    background: linear-gradient(105deg, white 50%, #F6B400 50%)
}

.menu-container{
    display: flex;
    padding: 20px 0;
}

.menu{
    display: flex;
    padding: 0 70px 0 70px;
    width: 100%;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    margin: 10px;
}

.logo-name{
    font-family: Lobster;
    font-size: 28px;
}

.logo-name > span{
    color: #F6B400;
    font-family: Lobster;
}

.right-menu-group{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 50%;
}

.links{
    display: flex;
    margin-right: 20px;
}

.links > li{
    display: flex;
    margin-left: 30px;
}

.links > li > a{
    text-decoration: none;
    font-weight: bold;
}

.cart{
    display: flex;
    margin-left: 30px;
}

.lower-header{
    display: flex;
    padding: 0 150px 0 90px;
}

.header-introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 50%;
}

.header-title{
    font-size: 32px;
    margin-bottom: 18px;
}

.header-description{
    margin-bottom: 50PX;
}

.header-description > P{
    font-size: 16px;
    color: grey;
}

.header-button > button{
    padding: 15px;
    background-color: orange;
    border: none;
    color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 15px;
}

.header-image{
    width: 50%;
     justify-content: center;
     align-items: center;
}
.header-image > img{
    width: 100%;
}

.offer-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E1EBE6;
    padding: 150px 30px 80px 30px;
}

.offer-items > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid maroon;
    border-radius: 15px;
    padding: 30px;
    margin: 5px;
}

.offer-items > div > article{
    color: maroon;
    font-size: 20px;
}

.offer-items > div > p{
    text-align: center;
}

.burger-types{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.burger-types > article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-menu{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 24px;
}

.our-menu > strong > span{
    color: #F6B400;
}

.bottom-line{
    height: 10px;
    width: 55px;
    background-color: orange;
}

#home{
    height: 5px;
    width: 43px;
}

.burgers{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-evenly;
}

.row{
    display: flex;
    justify-content: center;
}

.burger-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 25px;
    padding: 25px 30px;
    border-radius: 25px;
    box-shadow: 1px 8px 10px 1px lightgray;
}

.burger-item > article{
    margin-bottom: 15px;
    margin-top: 5px;
}

.burger-item > div{
    width: 100%;
}

.burger-item > p{
    text-align: center;
    margin-bottom: 10px;
}

.ksh-trolley{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ksh-trolley > div{
    padding: 10px;
}

.burger-item > div > img{
    width: 100%;
    height: auto;
}

.double-decker{
    display: flex;
    padding: 0 30px;
    background-color: #E1EBE6;
}

.decker-words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 60px;
}

.decker-words > article{
    font-size: 2em;
    margin-bottom: 10px;
}

.yellow-text{
    color: #F6B400;
}

.decker-words > p{
    color: gray;
    padding-left: 5px;
}

.decker-image{
    position: relative;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: hidden;
}

.img1{
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
}

.img2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.more{
    display: flex;
    font-weight: bold;
    font-size: 80px;
    margin-left: 20px;
    margin-top: 50px;
}

.more > a{
    padding: 5px;
    color: grey;
    text-decoration: none;
    margin-left: 3px;
}

.arrow{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 30px;
}

.arrow > img{
    width: 40px;
}

#active{
    color: #F6B400;
}

.mobile{
    height: 500px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    background-color: #F6B400;
}

.mobile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 24px;
}

.mobile-info > div{
    margin-bottom: 50px;
}

.mobile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.mobile-img > img{
     margin: 0 20px;
}

.footer{
    display: flex;
    flex-direction: column;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container > div{
    display: flex;
}

.logo-container > div > img{
    width: 100%;
    display:flex;
    object-fit:scale-down;
    margin: auto;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1EBE6;
    padding: 25px 20px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
}

.footer-nav > p{
    font-size: 18px;
}


.nav > li {
    list-style: none;
    padding-left: 8px;
}

.nav > li > a{
    text-decoration: none;
}

.subscribe > p{
    margin-bottom: 30px;
}

form{
    display: flex;
}

form > input[type=text]{
    padding: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid gray;
    background-color: #E1EBE6;

}

form > input[type=submit]{
    padding: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #F6B400;
    color: white;
}

form > button{
    margin: 0;
}

.lower-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.social-icon-container{
    display: flex;
}

.social-icons{
    display: flex;
}

.social-icons > li{
    list-style: none;
    margin: 5px;
}

.social-icons > li > a > img{
    display:flex;
    width: 15px;
    height: 15px;
    object-fit:scale-down;
    margin: auto;
}